#! ---------------------------------------------------------------------------------------------------------------------
# This file is part of fleshgrinder/nginx-configuration.
#
# fleshgrinder/nginx-configuration is free software: you can redistribute it and/or modify it under the terms of the GNU
# Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at
# your option) any later version.
#
# fleshgrinder/nginx-configuration is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License along with fleshgrinder/nginx-configuration.
# If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
# ----------------------------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------------------------
# Main nginx configuration.
#
# Please create a copy of this file at `/nginx.conf` and perform your changes there.
#
# @author Richard Fussenegger <richard@fussenegger.info>
# @copyright 2015 (c) Richard Fussenegger
# @license https://www.gnu.org/licenses/agpl-3.0.html AGPLv3
# ----------------------------------------------------------------------------------------------------------------------

pcre_jit                            on;
timer_resolution                    1s;
worker                              auto;
#include                             includes/worker-six-core-with-hyper-threading.conf;
worker_priority                     15;
worker_rlimit_core                  0;
worker_rlimit_nofile                262144;

events {
    accept_mutex                    on;
    accept_mutex_delay              50ms;
    multi_accept                    on;
    worker_connections              131072;
}

http {
    access_log                      off;
    charset                         utf-8;
    client_body_timeout             3s;
    client_header_timeout           3s;
    client_max_body_size            16m;
    default_type                    application/octet-stream;
    ignore_invalid_headers          on;
    include                         includes/fs-sendfile.conf;
    include                         includes/gzip.conf;
    include                         includes/headers.conf;
    include                         includes/https.conf;
    include                         includes/https-spdy.conf;
    include                         includes/php-fpm-upstream.conf;
    include                         includes/mime.types;
    include                         sites/*.conf;
    include                         sites/*/*.conf;
    index                           index.html index.htm;
    keepalive_disable               none;
    keepalive_requests              50;
    keepalive_timeout               120s;
    max_ranges                      0;
    msie_padding                    off;
    output_buffers                  1 128k;
    postpone_output                 1440;
    read_ahead                      128k;
    recursive_error_pages           on;
    reset_timedout_connection       on;
    send_timeout                    9s;
    server_name_in_redirect         off;
    server_names_hash_bucket_size   64;
    server_tokens                   off;
    types_hash_max_size             2048;
    uninitialized_variable_warn     off;
}
