#! -----------------------------------------------------------------------------
# This is free and unencumbered software released into the public domain.
#
# Anyone is free to copy, modify, publish, use, compile, sell, or distribute
# this software, either in source code form or as a compiled binary, for any
# purpose, commercial or non-commercial, and by any means.
#
# In jurisdictions that recognize copyright laws, the author or authors of this
# software dedicate any and all copyright interest in the software to the public
# domain. We make this dedication for the benefit of the public at large and to
# the detriment of our heirs and successors. We intend this dedication to be an
# overt act of relinquishment in perpetuity of all present and future rights to
# this software under copyright law.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
# ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# For more information, please refer to <http://unlicense.org>
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Main nginx configuration.
#
# AUTHOR:    Richard Fussenegger <richard@fussenegger.info>
# COPYRIGHT: 2008-15 Richard Fussenegger
# LICENSE:   http://unlicense.org/ PD
# ------------------------------------------------------------------------------

pcre_jit                            on;
timer_resolution                    1s;
include                             includes/worker-auto.conf;
#include                             includes/worker-six-core-with-hyper-threading.conf;
worker_priority                     15;
worker_rlimit_core                  0;
worker_rlimit_nofile                262144;

events {
    accept_mutex                    on;
    accept_mutex_delay              50ms;
    multi_accept                    on;
    worker_connections              131072;
}

http {
    access_log                      off;
    charset                         utf-8;
    client_body_timeout             3s;
    client_header_timeout           3s;
    client_max_body_size            16m;
    default_type                    application/octet-stream;
    ignore_invalid_headers          on;
    include                         includes/fs-sendfile.conf;
    include                         includes/gzip.conf;
    include                         includes/headers.conf;
    include                         includes/https.conf;
    include                         includes/https-spdy.conf;
    include                         includes/php-fpm-upstream.conf;
    include                         includes/mime.types;
    include                         sites/*.conf;
    index                           index.html index.htm;
    keepalive_disable               none;
    keepalive_requests              50;
    keepalive_timeout               120s;
    max_ranges                      0;
    msie_padding                    off;
    output_buffers                  1 128k;
    postpone_output                 1440;
    read_ahead                      128k;
    recursive_error_pages           on;
    reset_timedout_connection       on;
    send_timeout                    9s;
    sendfile                        on;
    sendfile_max_chunk              512k;
    server_name_in_redirect         off;
    server_names_hash_bucket_size   64;
    server_tokens                   off;
    types_hash_max_size             2048;
    uninitialized_variable_warn     off;
}
